[Unit]
Description=%i running as a systemd nspawn container
After=network-online.target var-lib-machines-%i.mount
Requires=network-online.target var-lib-machines-%i.mount

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/systemd-nspawn \
 --directory=/var/lib/machines/%i \
 --boot \
 --link-journal=try-guest \
 --machine=%i \
 --network-bridge=vboxbridge0
ExecStop=-/usr/bin/machinectl poweroff %i

[Install]
WantedBy=multi-user.target
