#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Nginx nspawn container storage
ConditionPathExists=/var/lib/containers/base/arch-base
ConditionPathExists=/var/lib/containers/nginx/rw
ConditionPathExists=/var/lib/containers/nginx/work

[Mount]
What=overlay
Where=/var/lib/machines/nginx
Type=overlay
Options=lowerdir=/var/lib/containers/base/arch-base,upperdir=/var/lib/containers/nginx/rw,workdir=/var/lib/containers/nginx/work
